.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 15px;
  align-items: center;
}

.navbar-lewagon h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

.navbar-lewagon a{
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: burlywood;
  border: 3px;
  transition: 0.3s ease-in-out;

  &:hover{
    background-color: rgb(150, 103, 41);
  }
}
